.header { 
    background: $head-bg; 
    background: url('../images/background.jpg') no-repeat;
    // background-size: 100%; 
}

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
